/*
===========
Font styles
===========
*/

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;700;900&family=Roboto:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Open+Sans:wght@400;700&family=Roboto:wght@400;700;900&display=swap');

/*
===========
Global styles
===========
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

/*  more global css  */

.section-center {
  width: 85vw;
  margin: 0 auto;
  max-width: 1280px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

/*
===========
Variables
===========
*/

:root {
  --font-weight-1: 400;
  --font-weight-2: 700;
  --font-size-1: 14px;
  --font-size-2: 16px;
  --font-size-3: 18px;
  --font-size-4: 24px;
  --font-size-5: 36px;
  --font-size-6: 64px;
  --font-family-sans: 'Open Sans', sans-serif;
  --font-family-lora: 'Lora', serif;
  --clr-white: white;
  --clr-grey-1: rgba(251, 246, 239, 1);
  --clr-blue-1: rgba(0, 43, 69, 0.9);
  --clr-blue-2: #002b45;
  --clr-blue-3: #001623;
  --m-break-point: 576px;
  --margin-3: 30px;
  --transition-1: 1s linear all;
  --transition-2: 2s linear all;
}

.btn-detail {
  width: 161px;
  height: 58px;
  padding: 18px, 32px, 18px, 32px;
}

.btn-calculator {
  width: 183.48px;
  height: 49.08px;
  padding: 18px, 32px, 18px, 32px;
  border: 1px;
}

/*
===============
Header section
===============
*/
header {
  height: 850.47px;
  background: linear-gradient(
      270.15deg,
      rgba(0, 0, 0, 0.87) 10.87%,
      rgba(0, 0, 0, 0) 62.32%
    ),
    url('./assets/images/header-img-min.png') center/cover no-repeat;
}

.detail {
  position: relative;
  background: var(--clr-blue-1);
  padding: 30px 0;
  height: 450px;
  box-shadow: 0 5px 15px var(--clr-blue-3);
  z-index: 3;
}

/* line left */
.line-left {
  height: 1px;
  width: 1vw;
  position: absolute;
  top: 313%;
  left: 0;
  background: rgba(255, 255, 255, 1);
  z-index: 5;
}

/*  line right */
.line-right {
  position: absolute;
  top: 898px;
  height: 1px;
  width: 28vw;
  right: 0;
  background: rgba(0, 43, 69, 1);
  z-index: 10;
  display: none;
}

.detail-info {
  bottom: 0;
}

/* logo  */
.logo {
  width: 176.81px;
  height: 53.18px;
}

/* info container */
.info-container {
  font-family: var(--font-family-sans);
  display: flex;
  align-items: flex-start;
  /* mob */
  justify-content: center;
  gap: 0 5px;
  margin: var(--margin-3) 0;
  margin-top: 65px !important;
}

.map-logo-detail {
  display: flex;
  flex-direction: column;
}

.logo-title {
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-1);
  color: rgba(255, 255, 255, 1);
}

.review {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  gap: 0 4px;
}
.review-img {
  height: 20px;
  display: inline-block;
  margin-top: 43px 0;
}
.review-span {
  display: inline-block;
  font-weight: var(--font-weight-2);
  font-size: 21.65px;
  line-height: 27.07px;
  color: rgba(130, 127, 127, 1);
}
.logo-add-info {
  font-size: 8.75px;
  font-weight: var(--font-weight-1);
  margin-bottom: 0;
}

/* info right */
.detail-info-right {
  font-weight: var(--font-weight-2);
  font-family: var(--font-family-sans);
}

.order-info {
  margin: var(--margin-3) 0;
  color: white;
  font-size: var(--font-size-1);
  line-height: 19.07px;
  font-weight: var(--font-weight-1);
  /* m */
  text-align: center;
  padding-left: 50px;
}

/* contact detail */
.contact-detail {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* m */
  justify-content: center;
  gap: 0 15px;
}

.order-info span {
  color: var(--clr-grey-1);
}

/* icon container */
.icon-container {
  display: flex;
  gap: 0 15px;
}

.mobile-info {
  font-weight: var(--font-weight-2);
  font-size: 20px;
  line-height: 27.24px;
  color: rgba(255, 255, 255, 1);
}

.order-button {
  background: transparent;
  color: rgba(255, 255, 255, 1);
  border: 0.84px solid rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: var(--font-weight-1);
  margin-top: var(--margin-3);
}

.header-info-button {
  animation: scale 5s linear infinite;
}

@keyframes scale {
  0% {
    transform: scale(1.03);
  }
  50% {
    transform: scale(0.97);
  }
  75% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(0.97);
  }
}

/* 
==========
Header info
==========

*/

/* our advantages */
.header-info {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(850.47px - 451px);
  gap: 40px 0;
  position: relative;
  z-index: 10;
}

.header-info-p {
  position: relative;
  z-index: 10;
  max-width: 729px;
  font-family: var(--font-family-lora);
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  font-family: Lora;
  line-height: 30px;
  font-size: var(--font-size-4);
  color: rgba(255, 255, 255, 1);
  max-width: 420px;
  margin: 0 auto;
  text-align: center;
}

.wallet {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 0 15px;
}

.wallet-img {
  width: 35px;
  height: 35px;
}

.wallet-p {
  font-family: var(--font-family-lora);
  font-weight: 700;
  line-height: 25px;
  font-size: var(--font-size-3);
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.order-button-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 20px 0px;
  position: relative;
  margin: 0 auto;
}

.header-order-title {
  font-family: var(--font-family-lora);
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-1);
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.header-info-button {
  background: transparent;
  color: rgba(255, 255, 255, 1);
  width: 203px;
  height: 58px;
  padding: 18px, 32px, 18px, 32px;
  border: 1px solid rgba(255, 255, 255, 1);
}

.ellipse {
  position: absolute;
  width: 34px;
  height: 64px;
  left: 250px;
  top: 10px;
}

.anime-container {
  position: absolute;
  top: 35%;
  left: 60%;
  transform: translate(-50%, -50%);
  position: relative;
}

.anime-box {
  position: absolute;
  width: 243px;
  height: 80px;
  border-radius: 15px;
  background: rgba(0, 43, 69, 0.9);
  font-family: var(--font-family-lora);
  font-size: 18px;
  line-height: 18px;
  font-weight: var(--font-weight-1);
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  padding: 15px 40px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  transition: var(--transition-1);
  opacity: 0;
  display: none;
}
.anime-box-1 {
  top: -345px;
  left: 43%;
  transform: translateX(-500%);
}

.anime-box-2 {
  top: -204px;
  left: 89%;
  width: 287px;
  transform: translateY(-500%);
}

.anime-box-3 {
  top: 10px;
  left: 79%;
  transform: translateY(500%);
}

.show-anime-box-1 {
  transform: translateX(0%);
}

.show-anime-box-2 {
  transform: translateY(0%);
}

.show-anime-box-3 {
  transform: translateY(0%);
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 31px;
  height: 31px;
  background: rgba(255, 255, 255, 0.68);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.circle-img {
  position: relative;
  width: 95%;
  height: 95%;
  top: 12%;
}
/* 
======================
Our advantages section 
======================
*/

.our-advantages {
  display: flex;
  background: rgba(251, 246, 239, 1);
}

.our-advantages-center {
  display: flex;
  align-items: center;
}

.furniture {
  width: 300px;
  object-fit: contain;
  display: none;
  transition: var(--transition-1);
  transform: translateX(-100%);
  opacity: 0;
}

/* show furniture */
.show {
  transform: translateX(0);
  opacity: 1;
}

.advantages-continer {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
}

.advantages-title {
  font-family: var(--font-family-lora);
  font-size: 24px;
  font-weight: var(--font-weight-2);
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 43, 69, 1);
}

.advantages-continer {
  margin-top: 50px;
}

.advantages-blocks {
  display: flex;
  gap: 0 20px;
  color: rgba(0, 43, 69, 1);
  flex-wrap: wrap;
}
.advantages-block {
  display: flex;
  width: 240.61px;
  height: 100.01px;
  gap: 0 25px;
}

.advantage-block-info {
  color: rgba(0, 43, 69, 1);
}

.block-info-title {
  font-family: var(--font-family-lora);
  font-weight: var(--font-weight-2);
  font-size: 16px;
}

.advantage-img {
  width: 60px;
  height: 60px;
}

/* 
============
Our works
============
*/
.our-works {
  overflow: hidden;
}

.works-global-container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px 0px;
  margin: 0 auto;
}

.our-works-heading {
  font-family: var(--font-family-lora);
  font-weight: var(--font-weight-2);
  letter-spacing: 0em;
  text-align: left;
  color: rgba(0, 43, 69, 1);
  font-size: 24px;
  line-height: 33px;
  text-align: center;
}

.our-works-button-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 195px;
  align-content: space-between;
}

/* select button container */
.select-button-container {
  display: flex;
  /* m */
  flex-direction: column;
  gap: 10px 0px;
}

/* buttons */
.btn-select {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 175px;
  height: 58px;
  gap: 10px 0px;
  padding: 18px 10px;
  background: white;
  font-family: var(--font-family-lora);
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-1);
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  border: 1px solid rgba(0, 0, 0, 1);
  text-transform: uppercase;
}

.bt-blue {
  border: none;
  background: rgba(0, 43, 69, 1);
  color: rgba(225, 225, 225, 1);
}

.planing-button {
  position: relative;
}

.planing-form {
  position: absolute;
  width: 100%;
  top: 80px;
  padding: 15px 8px;
  box-shadow: 0px 4px 7.300000190734863px 6px rgba(0, 0, 0, 0.05);
  background: white;
  font-family: var(--font-family-lora);
  font-size: var(--font-size-1);
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  z-index: 10;
  color: rgba(0, 43, 69, 1);
}

#planing-checkbox {
  /* display: block; */
  margin-bottom: 20px;
}

#planing-checkbox:last-child {
  margin-bottom: 0;
}

#planing-checkbox[type='checkbox'] {
  margin-right: 10px; /* Adjust the margin value as needed */
}
.btn-mini {
  width: 124.36px;
}

.bt-grey {
  background: rgba(225, 225, 225, 1);
  border: none;
  width: auto;
}

.arrow {
  display: inline;
  width: 20px;
  object-fit: cover;
  margin-left: 10px;
}

/* action button container */
.action-button-container {
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
}

/* before global work container */
.before-global-work-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  height: 250px;
  top: 1258px;
  box-sizing: border-box;
  overflow-x: hidden;
  opacity: 0;
  transition: 15s linear all;
}

.line-container {
  width: 30vw;
  height: 100%;
  border-right: none;
  z-index: 0;
  opacity: 0;
}

/* work  card*/
.work-card-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px 0;
}

.word-card-1 {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.work-card {
  position: relative;
  margin-bottom: 1rem;
  color: rgba(0, 43, 69, 1);
  padding: 10px 10px;
  border: 1px solid rgba(0, 0, 0, 1);
  background: #fbf6ef;
  transition: var(--transition-2);
  z-index: 5;
  opacity: 0;
}

.show-work-card {
  opacity: 1;
}

.show-global-container-before {
  opacity: 1;
}

.show-line-container {
  border: 1px solid rgba(0, 43, 69, 1);
}

.furniture-after {
  position: absolute;
  display: none;
  width: 190px;
  height: 273px;
  object-fit: cover;
  left: -25.3%;
  animation: furnitureAfter 2.4s linear;
  opacity: 0;
}

@keyframes furnitureAfter {
  0% {
    transform: rotateY(0deg);
    opacity: 1;
  }

  100% {
    transform: rotateY(180deg);
    opacity: 1;
  }
}

.work-card .word-card-title {
  margin-bottom: 1rem;
  font-family: var(--font-family-lora);
  font-weight: var(--font-weight-2);
  font-size: var(--font-size-3);
  line-height: 30.72px;
}
.packet-container {
  display: flex;
}
.packet {
  flex: 0 0 33.3%;
}

.packet-container {
  margin: 25px 0px;
}
.packet-heading {
  font-family: var(--font-family-lora);
  font-size: var(--font-size-2);
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.packet-text {
  font-family: var(--font-family-lora);
  font-size: var(--font-size-2);
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.specification {
  font-family: var(--font-family-lora);
  font-size: var(--font-size-2);
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.word-card-button-container {
  margin-top: 35px;
  display: flex;
  gap: 0px 15px;
}
.word-btn-select {
  width: 175px;
  height: 41px;
  background: transparent;
  text-transform: uppercase;
}
.set-button {
  width: 124.36px;
  background: rgba(0, 43, 69, 1);
  color: rgba(225, 225, 225, 1);
  border: none;
}

@media screen and (min-width: 414px) {
  /* our works */
  .our-works-button-container {
    align-content: space-evenly;
  }
}

@media screen and (min-width: 500px) {
  .order-button {
    margin-top: 0;
  }
  .order-info {
    margin-right: 30px;
  }

  .info-container {
    margin: 0;
  }
  .order-button {
    margin-top: var(--margin-3);
  }
  .our-advantages-center {
    gap: 0px 0px;
  }
}

@media screen and (min-width: 560px) {
  .detail {
    height: 400px;
  }
  .header-info {
    height: calc(850.47px - 401px);
  }
  .order-button {
    margin-top: 0;
  }

  /* our works */
  .our-works-button-container {
    height: auto;
    gap: 20px 0px;
    align-content: stretch;
  }
  .our-works-heading {
    font-size: var(--font-size-5);
    line-height: 43px;
  }
  .select-button-container {
    flex-direction: row;
    gap: 0 15px;
  }

  .action-button-container {
    flex-direction: row;
    gap: 0 15px;
  }

  .our-works-heading {
    text-align: left;
  }

  .word-card-1 {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .header-info {
    gap: 30px 0;
  }
  .wallet {
    align-items: center;
    justify-content: flex-start;
    margin: 0;
  }

  .wallet-img {
    width: 50px;
    height: 50px;
  }

  .order-button-container {
    margin: 0;
  }
  .header-info-p {
    line-height: 45px;
    font-size: var(--font-size-5);
    max-width: 420px;
    margin: 0;
    text-align: left;
  }
  .advantages-title {
    font-size: 36px;
    line-height: 43px;
  }
  .work-card-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px 200px;
  }
  .word-card-1 {
    justify-content: space-between;
    width: 100%;
    padding-left: 115px;
  }
  .work-card {
    padding: 30px 20px 30px 110px;
    flex: 0 0 443.36px;
    gap: 0 0;
  }
  /* work card */
  .furniture-after {
    display: block;
    opacity: 1;
  }
}

@media screen and (min-width: 1000px) {
  .detail {
    height: 120px;
  }
  .header-info {
    height: calc(850.47px - 121px);
  }

  .detail-info-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .detail-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .detail-info-left {
    display: flex;
    align-items: center;
    gap: 0 30px;
  }
  .contact-detail {
    justify-content: flex-start;
  }
  .info-container {
    margin-top: 0px !important;
  }
  .order-info {
    text-align: start;
    padding-left: 0;
  }
  .order-info {
    display: none;
  }

  .header-info-p {
    line-height: 91.92px;
    font-size: var(--font-size-6);
    max-width: 800px;
  }

  .wallet-img {
    width: 70px;
    height: 70px;
  }

  .wallet {
    gap: 0px 35px;
  }

  .wallet-p {
    font-size: 28px;
    line-height: 38.13px;
  }

  .line-left {
    display: block;
  }

  .line-right {
    display: block;
  }

  /* our advantages */
  .furniture {
    display: block;
    margin-top: -30px;
    margin-left: -50px;
  }
  .advantages-blocks {
    display: flex;
    gap: 0 20px;
    color: rgba(0, 43, 69, 1);
  }
  .our-advantages-center {
    gap: 0 50px;
  }
  .advantages-continer {
    margin-top: 0px;
  }

  /* our works */
  .our-works-button-container {
    flex-direction: row;
    gap: 0px 40px;
  }

  .our-works-heading {
    margin-bottom: 2rem;
  }

  .our-works-line-left {
    height: 1px;
    background: rgba(0, 43, 69, 1);
    top: 1252px;
  }
  /* anime box */
  .anime-box {
    display: block;
    opacity: 1;
  }
}

@media screen and (min-width: 1118px) {
  .line-right {
    top: 948px;
    width: 35vw;
  }

  .word-card-1 {
    width: 100%;
  }
}

@media screen and (min-width: 1180px) {
  .work-card-container {
    justify-content: center;
    gap: 30px 0px;
  }
  .word-card-1 {
    width: 50%;
  }
  .line-container {
    opacity: 1;
  }
}

@media screen and (min-width: 1280px) {
  .line-left {
    width: calc((100vw - 1280px) / 2.3);
  }
  .line-right {
    width: 43vw;
  }
}

@media screen and (min-width: 1366px) {
  .line-right {
    width: 45vw;
  }
}
